body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
 video {
    position: absolute;
    width: 100%;
    height: 120%;
    top: -7%;
    
    z-index: -1;
opacity: 0.3;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sign-in-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #e63946;
    text-align: center;
    color: #e63946;
    width: 300px;
}

.sign-in-box h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #fff;
    text-shadow: 0 0 10px #e63946, 0 0 20px #e63946, 0 0 30px #e63946;
}

.sign-in-box label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
    font-size: 16px;
    text-align: left;
}

.sign-in-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 16px;
}

.sign-in-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #e63946;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.sign-in-box button:hover {
    background: #ff4a4a;
}
